# 데이터 타입 : 기본자료형

In [ ]:
# 실수(real number) 개념  : 무한대의 수숫점이하의 숫자를 가질 수 있는 수
# 실수(real number) = 유리수 + 무리수  :
# 유리수 = 정수 + 정수가 아닌수

## 기본 자료형

In [ ]:
# 통상적으로 정수(int), 실수(float), 문자열(str) , boolean¶
# 정수(integer) : 양의 부호인 +, 음의 부호인 -가 붙어 있는 자연수를 통틀어서 정수 --> 설명: 정수형 데이터 타입으로, 소수점이 없는 숫자를 저장한다.
# 실수(float) : 부동 소수점(Floating Point) 의미 : 떠돌이 소수점(floating point)= 실수를 표시할 때 소수점의 위치를 고정하지 않고, 유효숫자를 표시하는 가수(假數)와 소수점의 위치를 표시하는 지수(指數)로 나누어 표시하는 자료형
# -> 실수형 변수로 정의 , 32비트 저장 공간 ( double 64비트 공간)
# 문자열 (str) : string 약자로 문자열, 문자열은 따옴표 사용 ,  예시: "Hello, World!", 'Python'
# bool : boolean 식에 대하여 참과 거짓을 판단 ==>  논리값으로, True 또는 False를 가진다.

In [ ]:
# 컴퓨터에서 실수 표현 방식 : 0 과 1
# 컴퓨터의 저장 용량 한계
# 1) 고정소수점방식 : 소수점의 자리를 미리 정하여 , 고정된 자릿수의 소수를 표현하는 방식
# 2) 부동 소수점 방식 : 하나의 실수를 가수부와 지수부로 나누어 표햔하는 방식

## 데이터 타입 확인 방법

In [1]:
# type이라는 '내장함수' 사용
# 내장함수(built-in)  : "이미 있는 것을 다시 만드느라 시간을 낭비하지 말라."
# 파이썬 내장함수는 파이썬 모듈과 달리 import가 필요하지 않기 때문에 아무런 설정 없이 바로 사용할 수 있다.
# 내장함수 종류 
#: abs(x) 어떤 숫자를 입력받았을 때 그 숫자의 절댓값을 리턴하는 함수 
# dir( ) :  객체가 지닌 변수나 함수를 보여 주는 함수
# len( ) : 입력값 s의 길이(요소의 전체 개수)를 리턴하는 함수
# max( ) : 인수로 반복 가능한 데이터를 입력받아 그 최댓값을 리턴하는 함수
# min( ) :  인수로 반복 가능한 데이터를 입력받아 그 최솟값을 리턴하는 함수
# sum( ): 입력 데이터의 합을 리턴하는 함수
# type( ) :  입력값의 자료형이 무엇인지 알려주는 함수

In [11]:
abs(-10)

10

In [1]:
# 정수의 사례
type(100)

int

In [8]:
type('안산대')

str

In [2]:
type(-100)

int

In [3]:
# 부동 소수점 사례
type(100.5)

float

In [4]:
type(100.54444)

float

In [5]:
# 문자형 사례 ; 따옴표로 ('') , ("")  작은따옴표, 큰 따옴표 불문
type("")

str

In [1]:
type("경찰행정학과")

str

In [8]:
type("police")

str

In [13]:
#문자형을 변수로 설정 한 사례

a = "안산대학교 경찰행정학과"
type(a)

str

In [14]:
len(a)

12

In [4]:
b= "안산대학교"

In [5]:
type(b)

str

In [6]:
a

'안산대학교 경찰행정학과'

In [7]:
b

'안산대학교'

In [15]:
# boolean  식에 대하여 참과 거짓을 판단
x=5>2
x

True

In [16]:
# # boolean  식에 대하여 참과 거짓을 판단
y=5<2
y

False

In [10]:
##문자열 따옴표를 출력하기¶
#파이썬에서 두 가지 종류(큰, 작은)의  쓸 수 있는 것운 문자열이 따옴표를 포함하는 경우가 있기 때문이다. 
#만약 따옴표로 둘러싸인 문자열에 따옴표가 포함되어 있다면 파이썬은 그 부분에서 문자열이 끝난다고 인식하여 오류가 발생 
# ==> 문자열 안에 따옴표는 필요한 경우 큰따옴표, 작은따옴표 따로 작성

In [11]:
print('학교앞에서 누군가가  "경찰행정학과 학생여러분! 화이팅하세요" 라고 외치고 있었다')

학교앞에서 누군가가  "경찰행정학과 학생여러분! 화이팅하세요" 라고 외치고 있었다

## 문자열 치환

In [10]:
# 의미 : 문자열에서 특정 문자를 다른 문자로 바꾸려면 replace 메서드 사용

In [17]:
"2024.09.06".replace(".", "-")

'2024-09-06'

In [18]:
"2024.09.06".replace(".", "/")

'2024/09/06'

## 문자열의 길이 확인

In [20]:
abc="seoul"
abc

'seoul'

In [21]:
print(abc)

seoul

In [3]:
len(abc)

5

In [29]:
# len : 길이 확인
abcd="안산대학교 경찰행정학과"

In [31]:
print(abcd)

안산대학교 경찰행정학과

In [32]:
len(abcd)

12

In [7]:
# len : 길이 확인시 띠어쓰기를 인식한다.

loc1="안산대학교 경찰행정학과"

In [8]:
loc1

'안산대학교 경찰행정학과'

In [9]:
len(loc1)

12

## 문자 중 인덱스 찾기

In [12]:
## 변수명 다음에 대괄호[ ] -> 대괄호 안에 확인할 인덱스 기입
# 인덱스는 0 부터 시작을 주의 할 것

In [33]:
loc="soeul" 
loc[0]

's'

In [37]:
loc="soeul" 
loc[4]

'l'

## 문자 중 일부 잘라내기(slice)

In [ ]:
## slice[:] 
# : 숫자사이에 있는 경우는 구간으로 이해

In [40]:
loc="seoul" 
loc[0:4]  # 처음(인뎃스 0) 부터 인덱스 4 전까지를 반환한다.

'seou'

In [41]:
loc="seoul" 
loc[1:4] # 인덱스 1부터 4 전까지 를 반환한다.

'eou'

In [42]:
loc1="안산대학교 경찰행정학과"
loc1[0:5]

'안산대학교'

In [43]:
## slice[:] 
# : 숫자 다음에 있는 경우는 해당 인덱스 부터 출력
loc="seoul"
loc[1:]

'eoul'

#  파이썬 연속 데이터 구조

In [23]:
# 연속데이터 구조 : 데이터가 여러 개 있을 때 효과적으로 관리하는 데 사용되는 자료구조
# 대표적으로 가장 많이 사용되는 리스트(list), 튜플(tuple), 사전(dict), 집합(set)

####리스트(list), 튜플(tuple), 사전(dict), 집합(set)

## 리스트(List)

In [24]:
# 리스트: 순서가 있는 변경 가능한 시퀀스 데이터 타입을 말한다.
# 파이썬에서 변수가 어떤 값을 바인딩(binding)하고 있는 경우
# 바인딩(binding) :  프로그램에 사용된 구성 요소의 실제 값 또는 프로퍼티를 결정짓는 행위를 의미한다.
# 프롬프트 상에서 변수명을 입력한 후 엔터 키를 누르면 해당 변수가 가리키는 값이 반환한다.

In [44]:
a= "살인"
a

'살인'

In [45]:
b= "강도"
b

'강도'

In [46]:
c= "절도"
c

'절도'

### 리스트

In [28]:
# 파이썬에서는 리스트(list) 이용하면 여러 데이터를 한 번에 저장 가능--> 변수명을 여러 개 사용할 필요가 없다.
# 여러 데이터를 리스트에 담으려면 대괄호'[]' 사이에 데이터를 쉼표로 구분해서 넣으면 됨.

# 리스트 :  대괄호'[] 로 요소를 기입한다.  튜플 : 소괄호() , 디셔너리 : 중괄호{}

# 요소(element) : list 를 이루는 값을 말한다.
# 인덱스(index) : 오소들의 순서에 따른 번호 --> 시작은 0 부터 !!!!!

In [52]:
crime = ["살인", "강도", "절도"]

In [53]:
crime

['살인', '강도', '절도']

In [54]:
type(crime)

list

In [22]:
# 인덱싱으로 원하는 데이터 만 가죠오기
# [0], [1], [2]라는 인덱스 값을 통해 리스트에 있는 원하는 데이터를 언을 수 있음

In [55]:
crime[0]

'살인'

In [58]:
crime[2]

'절도'

In [25]:
# append : 데이터를 추가하기

In [62]:
crime = ["살인", "강도", "절도"]
crime.append("사기")
crime

['살인', '강도', '절도', '사기']

In [63]:
# 원소를 삭제하기 : del
del crime [2] 
crime

['살인', '강도', '사기']

In [64]:
## 리스트값에 추가 :  append( ) 마지막에 추가 됨.
number=['one','two','three','four'] 
number.append('five') 
print(number)

['one', 'two', 'three', 'four', 'five']

In [65]:
## 리스트값 중 일부 삭제 del 
number=['one','two','three','four'] 
del number[2] 
print(number)

['one', 'two', 'four']

In [68]:
## 2개의 리스트를 병합하는 경우 extend( ) 
number1=['one','two','three','four'] 
number2=['six','seven','eight','nine'] 
number1.extend(number2) 
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [69]:
## 2개의 리스트를 병합하는 경우.순서가 반대 extend( ) 
number1=['one','two','three','four']
number2=['six','seven','eight','nine'] 
number2.extend(number1) 
print(number2)

['six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [32]:
number1.extend(number2) 
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [70]:
## 정렬하기 sort( ) 는 알파벳순서로 정렬하기 
number=['one','two','three','four'] 
number.sort() 
print(number)

['four', 'one', 'three', 'two']

In [71]:
## 정렬하기 sorted( ) 
number=['one','two','three','four'] 
newnumber=sorted(number) 
print(newnumber)

['four', 'one', 'three', 'two']

In [72]:
## 정렬하기 sorted( ) 
number=['one','two','three','four'] 
newnumber=sorted(number) 
print(newnumber) 
print(number)

['four', 'one', 'three', 'two']
['one', 'two', 'three', 'four']

In [73]:
## sort(reverse=True) 
number=[1,2,3,4] 
number.sort(reverse=True) 
print(number)

[4, 3, 2, 1]

In [75]:
##리스트 항목개수 확인  len( ) 
number1=['one','two','three','four'] 
len(number1)

4

###  list 데이터 구조 활용

In [38]:
# 리스트는 언제 활용? :  여러 개의 데이터를 ‘순서대로’ 저장하고 이를 관리해야 하는 경우

In [79]:
# 변수명 설정 --> 대괄호 --> 원소들을 기입한다.(원소 사이에는 쉽표로 표시한다.)
crime2 = [54100, 55000, 56200, 56900, 57000]
crime2[2]

56200

In [80]:
print(crime2)

[54100, 55000, 56200, 56900, 57000]

In [82]:
sum(crime2)

279200

In [81]:
# 리스트 안에있는 값들의 합(sum)을 계산
# 변수명 설정 --> sum-> 괄호안에 합을 계산하고자하는 변수명 입력
result = sum(crime2)
print(result)

279200

In [83]:
# 변수명은 임의로 설정 
crime3=sum(crime2)
crime3

279200

### 통계 기초

In [43]:
# 중심경향치(central tendency measures)?
# 자료의 중심을 나타내는 숫자
# 자료 전체를 대표
# 평균, 중간값, 최빈값 등

#### 중심경향치

##### 1)리스트 데이터 평균 (mean)

In [86]:
# numpy 라이브러리를 이용
# Numarray와 Numeric이라는 Python 패키지를 계승해서 나온 수학 및 과학 연산을 위한 파이썬 패키지
# Numerical Python의 줄임말
import numpy

# 아래 리스트 데이터 : 리스트데이터는 대괄호로 , 변수 설정(데이터를 담다)

# 평균 : mean

b = [100, 200, 400, 500,600,700,800,900,1000]
numpy.mean(b)

np.float64(577.7777777777778)

In [87]:
# 만약 , 라이브러리를 별칭(alias)으로 호춣한 경우
import numpy as np
b = [100, 200, 400, 500,600,700,800,900,1000]
np.mean(b)

np.float64(577.7777777777778)

In [88]:
# 이상치 영향
# 데이터 전처리 과정 (데이터 탐색과정:EDA) 에서 반드시 체크해야 함.
# numpy.mean(변수명)으로 계산 가능

b_1 = [100, 200, 400, 500,600,700,800,900,1000, 10000000]
np.mean(b_1)

np.float64(1000520.0)

##### 2) 리스트 데이터 중앙값 (median 중간값)

In [47]:
# 중간값(median): 자료를 크기 순으로 정렬했을 때 정 가운데에 있는 값
# '중앙값' 또는 '중위수'
# numpy.median(변수명)으로 계산 가능
# 서열척도/등간척도/비율척도에서 쓸 수 있다. 명명척도 사용 불가

In [89]:
# 인자 숫자가 짝수인 경우

c=[1,2,3,4,5,6,7,8,9,10]
np.median(c)

np.float64(5.5)

In [90]:
# 인자 숫자가 홀수인 경우

c=[1,2,3,4,5,6,7,8,9,10,11]
np.median(c)

np.float64(6.0)

In [50]:
# 이상치 영향이 평균 값보다 적게 받는다.

c_1=[1,2,3,4,5,6,7,8,9,10,100Q0]
numpy.median(c_1)

np.float64(6.0)

##### 3) 최빈값 (mode)

In [51]:
# 최빈값(mode): 가장 빈번하게 관찰/측정되는 값

In [52]:
d=[1,2,2,3,5,5,5,5,10,1000]
numpy.mode(d)

AttributeError: module 'numpy' has no attribute 'mode'

In [54]:
# 사이파이(SciPy): 수치해석기능을 제공하는 파이썬 패키지
# 여러 서브패키지로 구성
# stats 서브패키지 :  확률분포 분석을 위한 다양한 기능을 제공
from scipy.stats import mode

d=[1,2,2,3,5,5,5,5,10,1000]
mode(d)

ModeResult(mode=np.int64(5), count=np.int64(4))

In [55]:
e=[1,2,2,3,4,4,4,4,7,7,7,7,7,7,10,1000]
mode(e)

ModeResult(mode=np.int64(7), count=np.int64(6))

#### 분산도

In [56]:
# 분산도 의미 : 데이터가 흩어져 있는 정도
# 범위, 분산(표준편차), 사분위간 범위

##### 1) 범위 (range)

In [57]:
# 대상 데티어의  최대값과 최소값 사이의 거리
# 범위 계산 = 최댓값 - 최솟값

In [91]:
b = [100, 200, 400, 500,600,700,800,900,1000]

import numpy as np

# 범위 계산 : 최대값에서 최소값을 차감하여 계산'
#최댓값:
np.max(b)
# 최소값
np.min(b)

# 범위:
np.max(b) - np.min(b)

np.int64(900)

##### 2) 분산

In [59]:
# 평균에서 데이터가 벗어난 정도를 수치화한 값 ==> 데이터의 분포를 정규분포 가정
# 계산 : 편차의 제곱 합에 대한 평균 개념

In [92]:
# 분산값 확인 : var (Variance :분산)
np.var(b)

np.float64(83950.61728395062)

##### 3) 표준편차

In [61]:
# 분산값을 제곱근한 값이 표준편차 (standard deviation)
# np.std(변수명)

In [62]:
# 표준편차 확인
np.std(b)

np.float64(289.74232912011774)

In [93]:
# 표준편차는 분산의 제곱근하여도 무방

numpy.sqrt(numpy.var(b))

np.float64(289.74232912011774)

##### 4) 사분위간 범위

In [64]:
# 사분위간 범위(IQR, InterQuartile Range) ; 제3사분위수에서 제1사분위수 간의 범위
# 사분위수란 전체 데이터를 작은 값부터 큰 값까지 순서대로 나열한 후 4등분 하였을 때, 각 지점에 해당하는 값

# 제1사분위수(Q1): 25% 지점
# 제2사분위수(Q2): 50% 지점
# 제3사분위수(Q3): 75%
# 제1사분위수와 제3사분위수 사이의 구간에는 항상 전체 데이터의 50%가 포함 됨
# b = [100, 200, 400, 500,600,700,800,900,1000]

In [65]:
# 제1사분위수

numpy.quantile(b, 0.25)

np.float64(400.0)

In [66]:
# 제2사분위수(50% 지점)
# 중간값:

numpy.quantile(b, 0.5)

np.float64(600.0)

In [67]:
numpy.median(b)

np.float64(600.0)

In [68]:
# 제3사분위수(75% 지점)

numpy.quantile(b, 0.75)

np.float64(800.0)

In [69]:
# 사분위간 범위(Q3 - Q1):

numpy.quantile(b, 0.75) - numpy.quantile(b, 0.25)

np.float64(400.0)

#### 사례 : 평균 구하기

In [70]:
# 평균 구하기 : 위에서 사용한 crime2
# 첫번째 방법

print(f"average : {result / len(crime2)}")

average : 55840.0

In [71]:
# 두번째 방법
import numpy

# 평균 구하기
average = numpy.mean(crime2)
print(average)

55840.0

In [72]:
# 세번째 : 파이썬  statiscics 라이브러리를 이용
import statistics

# 평균 구하기
result1 = statistics.mean(crime2)
# 출력
print(f"average1 : {result1}")

average1 : 55840

###  전처리
#### 리스트 인덱싱

In [94]:
# 리스트의 인덱스 값을 통해 리스트가 가리키는 값에 접근
# 리스트에 있는 데이터에 한개씩 접근할 때는 인덱싱 사용
# 리스트의 인덱싱은 문자열 인덱싱과 동일
crime3 = [55300, 55800, 56400, 56200, 56000]
crime3[0]

55300

In [95]:
# 리스트 5번째 값
# 인덱스는 0 으로 부터 시작하는 것으로 잊지말자.

crime3[4]

56000

In [75]:
# 리스트를 인덱싱할 때 [-1]은 리스트의 데이터 중 맨 마지막에 있는 데이터

In [96]:
# 리스트 맨 끝값
crime3[-1]

56000

In [97]:
# 리스트 뒤에서 2번째 값
crime3[-2]

56200

#### 리스트 슬라이싱

In [78]:
#  리스트에 있는 여러 개의 데이터에 동시에 접근 하는 경우 슬라이싱 이용 
# 리스트의 슬라이싱은 문자열 슬라이싱과 동일

In [98]:
crime = ["살인", "강도", "절도"]

In [99]:
print(crime)

['살인', '강도', '절도']

In [100]:
# 리스트 3번째 값 확인
# print --> 소괄호() 안에 --> 변수명, 대괄호[]안에 슬라이싱하고자 하는 것을 입력
print( crime[2])

절도

In [102]:
# 리스트에서 1개만 갖고 오기
crime7=crime[0:1] # 처음(인데스=0)부터 인덱스 1전까지 불러온다.

In [103]:
print(crime7)

['살인']

In [104]:
# 2개만 갖고 오기
crime=crime[0:2]
print(crime)

['살인', '강도']

#### 리스트에 데이터(원소) 추가

In [85]:
# 리스트에 데이터(원소) 추가
# 기존 리스트에 새로운 데이터를 추가 : append 메서드 사용 ==> 이 경우 데이터 맨 뒷줄에 추가

In [105]:
crime = ["살인", "강도", "절도"]
crime.append("사기")
crime

['살인', '강도', '절도', '사기']

In [106]:
# 리스트에 리스트로 추가하는 경우
# extend메소드 : 리스트.extend(추가할리스트)
crime = ["살인", "강도", "절도"]
crime.extend(["사기", "도박"])
crime

['살인', '강도', '절도', '사기', '도박']

In [107]:
# 위의 경우 추가된 리스트를 새롭게 명명하는게 적절
crime4 = crime.copy()
crime4

['살인', '강도', '절도', '사기', '도박']

In [108]:
# 리스트에 데이터를 사용자가 원하는 특정 위치에 추가 
# insert 메서드를 사용

In [109]:
# 리스트 2번째 자리에 삽입
crime4.insert(2, '폭력')
crime4

['살인', '강도', '폭력', '절도', '사기', '도박']

#### 리스트에 데이터 삭제

In [110]:
# 리스트 마지막 데이터를 삭제하기 위해 del 사용 
# 이때 한 가지 주의할 점은 del 다음에 빈칸을 주고 그다음에 삭제할 데이터를 입력해야 한다

In [111]:
#  데이터 삭제
del crime4[-1]

In [112]:
# 결과확인
>>> crime4

['살인', '강도', '폭력', '절도', '사기']

In [113]:
len(crime4)

5

##### 주의사항

In [114]:
# 리스트 + 리스트 덧셈연산은 ?

[1,2,3]+[5,6,7]

[1, 2, 3, 5, 6, 7]

In [115]:
# 리스트 안에 원소 변경
abc=[1,2,3]
abc[1]=5
abc

[1, 5, 3]

In [97]:
# 리스트 안에 원소를 추가
abc.append(10)
abc

[1, 5, 3, 10]

## 튜플(tuple)

### 튜플 이해?

In [101]:
# 설명: 순서가 있는 변경 불가능한 시퀀스 데이터 타입을 말한다.

In [102]:
# 리스트는 대괄호'[]' 사용, 튜플은 소괄호'()' 사용에 인자를 담아 연속형 데이터를 처리하는데 사용
# 튜플과 리스트 차이 :  리스트는 리스트 내의 요소를 변경할 수 있지만 튜플은 요소를 변경할 수 없다. 
# 튜플은 리스트보다 속도가 빠르다는 장점 ; 요소 수정이 필요 없는 경우는 리스트보다는 튜플을 사용하는 것이 효율적

In [116]:
crime = ["살인", "강도", "절도"]
crime5=["살인", "강도", "절도", "도박"]
crime5.append("사기")
crime5

['살인', '강도', '절도', '도박', '사기']

In [117]:
# 데이터 타입 확인 
type(crime5)

list

In [118]:
crime10 = ['살인', '강도', '폭력', '절도', '사기', '도박']
crime10

['살인', '강도', '폭력', '절도', '사기', '도박']

In [119]:
type(crime10)

list

###  튜플 데이터 확인

In [120]:
# 갯수 확인 : len
len(crime5)

5

In [121]:
# 튜플데이터 인덱싱

crime5[0]

'살인'

In [122]:
crime5[-1]

'사기'

In [123]:
crime5[-2]

'도박'

### 튜플 슬라이싱

In [124]:
# 튜플도 리스트와 동일하게 슬라이싱 가능

In [125]:
# 시작 인덱스와 끝 인덱스를 지정
crime5[0:2]

['살인', '강도']

In [126]:
crime8 = ("살인", "강도", "절도", "학교")
crime8.append("사기")
crime8

AttributeError: 'tuple' object has no attribute 'append'

## 딕셔너리(dictionary)

### 딕셔너리(dictionary) 이해

In [123]:
# 딕셔너리 : 키(key)와 값(value)이라는 것을 쌍으로 저장함으로써 더 쉽게 저장된 값을 찾을 수 있는 구조를 말한다.

# key : 중복 값을 사용할 수 없고, 변경이 불가하다.
# value : key에 해당하는 값으로 수정이 가능하다.

# 딕셔너리는 중괄호 '{}' 기호 사용  : 리스트 대괄호[] , 튜플 소괄호() 
# 요소가 여러개인 경우 콤마(,)로 구분
# 딕셔너리는 리스트와 튜플과 달리 인덱싱을 지원 않음.
# 사례 : 범죄종류별 나이, 범죄별 소득수준,

In [124]:
crime2

[54100, 55000, 56200, 56900, 57000]

In [125]:
crime

['살인', '강도', '절도']

In [134]:
# 직접 입력하기
# key : 살인 value : 54100.......

crime6 = {'살인': 54100, '강도': 55000, '절도': 56200, '사기': 56900, '도박': 57000}

In [135]:
type(crime6)

dict

In [136]:
crime6

{'살인': 54100, '강도': 55000, '절도': 56200, '사기': 56900, '도박': 57000}

In [137]:
crime6["강도"]

55000

In [138]:
# zip 활용한 딕셔너리 만들기
crime6 = dict(zip(crime,crime2))
crime6

{'살인': 54100, '강도': 55000, '절도': 56200}

In [139]:
score ={}

In [140]:
type(score)

dict

In [141]:
score["경찰청"] =100

In [142]:
score["경찰청"]

100

In [143]:
score

{'경찰청': 100}

In [144]:
type(score)

dict

In [145]:
len(score)

1

In [146]:
score["경찰청"]

100

### 딕셔너리(dictionary) 확인

In [147]:
len(crime6)

3

In [148]:
crime6['절도']

56200

In [149]:
score["경찰청"]=10

In [150]:
score

{'경찰청': 10}

In [151]:
del score["경찰청"]

In [152]:
score

{}

In [153]:
print(score)

{}

### 딕셔너리에 데이터 삽입

In [154]:
#딕셔너리는 리스트의 append나 insert 같은 메서드를 지원하지 않음.. 
# 리스트와는 달리 Dictionary변수에 추가하고자하는 데이터에 대한 key와 value를 추가 입력하여야 함.

In [155]:
# naver 추가
crime6['마약'] = 51000
crime6

{'살인': 54100, '강도': 55000, '절도': 56200, '마약': 51000}

### 딕셔너리에 데이터 삭제

In [156]:
# 리스트와 마찬가지로 del을 사용 
del crime6['마약']

In [157]:
crime6

{'살인': 54100, '강도': 55000, '절도': 56200}

### 딕셔너리로부터 key-value 구하기

In [158]:
crime6['강도'] = 80000

In [159]:
crime6

{'살인': 54100, '강도': 80000, '절도': 56200}

In [162]:
# key 값 만 보는 사례
crime6.keys()

dict_keys(['살인', '강도', '절도'])

In [163]:
# value 만 리스트로 나타내는 사례
crime6.values()

dict_values([54100, 80000, 56200])

### 딕셔너리의 key와 value 를 리스트로 가져오기

In [162]:
# items

In [163]:
crime6.items()

dict_items([('살인', 54100), ('강도', 80000), ('절도', 56200)])

### 딕셔너리의 key 값만 리스트로 가져오기

In [164]:
crime6.keys()

dict_keys(['살인', '강도', '절도'])

### 딕셔너리의 value 값만 리스트로 가져오기

In [165]:
crime6.values()

dict_values([54100, 80000, 56200])

## 집합 (Set)

### 세트 이해

In [170]:
# 집합 성격 데이터
# 설명: 순서가 없고 중복을 허용하지 않는 데이터 타입을 말한다.
# 중괄호 {} 이용
# 중괄호 안에 여러개 데이터인 경우 : 콤마로 구분
# 데이터의 중복을 허용하지 않는다.!!!!
# 집합 성격이므로  연산관련 함수 제공 (합집합, 교집합, 차집합 등)

### 세트와 리스트 비교

In [164]:
# 집합으로 만든 경우 : 중괄호 사용
crime8 = {'살인', '강도', '폭력' }
crime8

{'강도', '살인', '폭력'}

In [166]:
# 리스트로 만든 경우 : 대괄호 사용
crime8 = ['살인', '강도', '폭력' ]
crime8

['살인', '강도', '폭력']

In [167]:
# set은 중복은 허용하지 않는다.
crime8 = {'살인', '강도', '폭력','살인' }
crime8

{'강도', '살인', '폭력'}

In [168]:
# 리스트로 만든 경우 : 중복을 허용한다.
crime8 = ['살인', '강도', '폭력','살인' ]
crime8

['살인', '강도', '폭력', '살인']

### 세트 데이터 확인하기

In [175]:
# 데이터 추가하기
# 세트 명을 기입하고 add(추가할 데이터)

In [169]:
crime8 = {'살인', '강도', '폭력','살인' }
crime8

{'강도', '살인', '폭력'}

In [170]:
# 다른 세트에 데이터 업데이트 하기
# 다른 세트 명을 기입하고 update(추가할 데이터)

In [171]:
crime9 = {'절도','마약', '살인'}
crime9

{'마약', '살인', '절도'}

### 합집합, 교집합, 차집합

In [172]:
# 합집합 : 두 집합의 모든 원소를 보여준다
# union

In [175]:
a={1,2,3,4,5,6}
b={1,3,5,7,8}

In [176]:
type(a)

set

In [177]:
type(b)

set

In [178]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [179]:
# 합집합 다른 표현
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [181]:
# 교집합 : 공통 요소 반환한다.
# intersection
a.intersection(b)

{1, 3, 5}

In [182]:
# 교집합 다른 표현

a&b

{1, 3, 5}

In [183]:
# 차집합 : 두 개의 집합에서 하나 만 들어 간 요소
# difference

In [184]:
a.difference(b)

{2, 4, 6}

In [185]:
# 차집합 다른 표현
a-b

{2, 4, 6}

In [186]:
b.difference(a)

{7, 8}

# 날짜와 시간 설정¶

In [191]:
# datetime 패키지
# 날짜와 시간을 함께 저장하는 datetime 클래스
# 날짜만 저장하는 date 클래스, 
# 시간만 저장하는 time 클래스, 
# 시간 구간 정보를 저장하는 timedelta 클래스 등을 제공

In [192]:
import datetime as dt
x = dt.datetime.now()
print(x)

# now 클래스 메서드는 컴퓨터의 현재 시각을 datetime 클래스 객체로 만들어 반환한다. 
# datetime 클래스 객체는 다음과 같은 속성을 가진다.
# year: 연도
# month: 월
# day: 일
# hour: 시
# minute: 분
# second: 초
# microsecond: 마이크로초(micro seconds, 백만분의 일초)

2024-08-22 12:38:58.862639

In [193]:
import datetime as dt
x = dt.datetime.now()
x

datetime.datetime(2024, 8, 22, 12, 38, 59, 334479)

In [194]:
# 다음과 같은 메서드도 제공
# weekday: 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
# strftime: 문자열 반환
# date: 날짜 정보만 가지는 date 클래스 객체 반환
# time: 시간 정보만 가지는 time 클래스 객체 반환

In [195]:
x.weekday()

3

In [196]:
# 날짜
x.date()

datetime.date(2024, 8, 22)

In [197]:
# 시간
x.time()

datetime.time(12, 38, 59, 334479)