In [ ]:
# 데이터 분석을 위한 기본 이해

# 제어문(조건문, 반복문)

In [1]:
# 제어문(조건문, 반복문) : 조건문이나 반복문처럼 프로그램 명령어가 기술된 순서대로 순차 수행하는 경우
# 제어문 : if, for, while

In [ ]:
# 조건문(if문) : 어떤 조건을 보고 코드를 수행하는 것 ==> if ,  if~else , if~elif ~ else
# 반복문(for,  while) : 어떤 조건하에서 반복적으로 코드를 수행하는 것

In [10]:
import this

In [7]:
import this

# 조건문

In [ ]:
# 특정 조건이 참일 때만 코드 블록을 실행하게 하는 기본적인 제어 구조입니다. 
# 조건문을 작성하는 기본 형식과 사용 예제는 다음과 같습니다:

In [ ]:
# if 조건식:
#     # 조건식이 참일 때 실행할 코드
# elif 다른_조건식:
#     # 다른_조건식이 참일 때 실행할 코드
# else:
#     # 위의 조건들이 모두 거짓일 때 실행할 코드

## if 조건문  이해

In [3]:
# if :  조건문을 표현
# if 문의 끝에는 콜론(:)을 입력
# if 문의 조건이 True일 때 실행되는 문장은 들여쓰기

In [4]:
# 사례

In [9]:
# "살인 건수 10건 미만이면 blue"
# "살인건수 10건이상하면 코드제로"

# if 문의 조건식이 참이므로 4칸의 공백으로 들여쓰기된 'print("코드제로 ")'이라는 문장이 실행
# 들여쓰기 : 들여쓰기를 통해 문장의 시작과 끝을 표시 --> 별도 들여쓰기 없이도 콜론(:)후 enter하면 들여쓰기가 됨.
# if 문의 조건식이 true이면 실행되고 false면 실행하지 않는다.

### 아래 사례 : True 경우

In [11]:
살인 = 20
if 살인 >= 10:
    print("코드제로")

코드제로

### 아래 사례 :False 경우

In [13]:
# if 문의 조건식이 true이면 실행되고 False면 실행하지 않는다.

살인 = 5
if 살인 >= 10:
    print("코드제로")

## if ~ else 문

In [4]:
# if 조건문은 조건이 true이면 실행되고,  false면 실행하지 않는다. 이에 반해 if~else문으 차이가 있다.
# 만일 ~ 참이면 (if) + ‘그렇지 않으면’(else) 라는 새로운 조건이 추가. 
# 즉, else는 if의 조건에 맞지 않을때 실행--> 즉, 조건문의 조건이 false이면 실행되고 true면 실행하지 않는다.

### 사례

In [18]:
# 살인 건수: 10건 이하이면 blue ,  아니면 "코드제로" 출력

살인 = 5
if 살인 <= 10:  # 참 인 경우
        print("blue")
else:
        print("코드제로")

blue

In [19]:
# 살인 건수: 10건 이하이면 blue 아니면 "코드제로" 출력

살인 = 100
if 살인 <= 10:
        print("blue")  # 거짓인 경우
else:
        print("코드제로")

코드제로

## elif

In [8]:
# elif라는 것을 사용하면 여러 개의 조건을 검사해서 그 중에서 맘에 드는 것을 선택

In [9]:
# IF (조건 식1이 참이면) THEN
#                  문장1을 수행한다.
#           ELSE IF (조건 식2가 참이면) THEN
#                  문장2를 수행한다.
#           ELSE IF (조건 식3이 참이면) THEN
#                  문장3을 수행한다.
#           ....
#           ELSE IF (조건 식n이 참이면) THEN
#                  문장n을 수행한다.
#           ELSE
#                  문장n+1을 수행한다

In [10]:

# 살인 10건 이하이면 'Blue', 또는 20건 이상이면 '코드제로', 아니면 "출동대기" 출력

살인 = 5
if 살인 <= 10:
        print("Blue")
elif 살인 >= 20:
        print("코드제로")
else: 
        print("출동대기")

Blue

In [20]:
살인 = 35
if 살인 <= 10:
        print("Blue")
elif 살인 >= 20:
        print("코드제로")
else: 
        print("출동대기")

코드제로

In [21]:
살인 = 15
if 살인 <= 10:
        print("Blue")
elif 살인 >= 20:
        print("코드제로")
else: 
        print("출동대기")

출동대기

## 이중 if : 범죄 조건을 제약

In [22]:
# 살인 10건 이하 , 폭력 200건 이하 : blue
# 살인  20건 이상 , 폭력 400건 이상 : 코드제로
# 둘다 아니면 : 출동대기

살인 = 30
폭력 = 500

if 살인 <= 10 and 폭력<=200:
        print("blue")
elif 살인 >=20 and  폭력 >= 400:
        print("코드제로")        
else: 
        print("출동대기")

코드제로

In [23]:
살인 = 15
폭력 = 300

if 살인 <= 10 and 폭력<=200:
        print("blue")
elif 살인 >=20 and  폭력 >= 400:
        print("코드제로")        
else: 
        print("출동대기")

출동대기

In [24]:
살인 = 5
폭력 = 100

if 살인 <= 10 and 폭력<=200:
        print("blue")
elif 살인 >=20 and  폭력 >= 400:
        print("코드제로")        
else: 
        print("출동대기")

blue

In [25]:
# 모두 만족하지 않는 경우
살인 = 5
폭력 = 300

if 살인 <= 10 and 폭력<=200:
        print("blue")
elif 살인 >=20 and  폭력 >= 400:
        print("코드제로")        
else: 
        print("출동대기")

출동대기

In [29]:
# 두개 중에서 1개만 만족하는 경우 : and--> or 로 코드 변경

살인 = 5
폭력 = 300

if 살인 <= 10 or 폭력<=200:
        print("blue")
elif 살인 >=20 or  폭력 >= 400:
        print("코드제로")        
else: 
        print("출동대기")

blue

In [30]:
살인 = 25
폭력 = 300

if 살인 <= 10 or 폭력<=200:
        print("blue")
elif 살인 >=20 or  폭력 >= 400:
        print("코드제로")        
else: 
        print("출동대기")

코드제로

In [31]:
살인 = 15
폭력 = 250

if 살인 <= 10 or 폭력<=200:
        print("blue")
elif 살인 >=20 or  폭력 >= 400:
        print("코드제로")        
else: 
        print("출동대기")

출동대기

# 반복문(for 문)

## 기본 이해

In [ ]:
# 특정 시퀀스(리스트, 튜플, 문자열 등)나 범위를 순회하며 코드 블록을 반복 실행하는 데 사용됩니다. 
# for 문은 간결하고 사용하기 쉬워서, 다양한 상황에서 자주 활용됩니다.

In [20]:
# 반복되는 경우 효율성 제고
# 특정 횟수 만큼 반복 실행
# 자료를 순서대로 할당
# for 문을 사용하면 중복된 부분의 코드를 줄일 수 있어 프로그램을 빨리 작성할 수 있고 코드의 가독성도 향상됩니다.

## 작성 방법

In [ ]:
# 작성 방법 ==> for [변수] in [변수 반복 하려는 인자] :
               # 들여쓰기 수행문

In [32]:
print(1)

1

In [33]:
print(2)

2

In [34]:
print(3)

3

In [35]:
# 작성 방법 ==> for [ 지정한 변수명] in [반복 인자] :
               # 들여쓰기 수행문

# for 문장 끝에 콜론(:)
# for 문에서 수행되는 문장은 들여쓰기.
# for () in : 리스트 안에 있는 각 값을 print()

for sample in [0, 1, 2, 3, 4, 5]:
    print(sample)

0
1
2
3
4
5

In [39]:
# 수행문이 sample 변수에 10를 더한 값
# sample 변수에 10을 더한 값을 new_sample에 담는다.

for sample in [0, 1, 2, 3, 4, 5]:
        new_sample = sample+10
        print(new_sample)

10
11
12
13
14
15

In [40]:
# 수행문이 sample 변수에 10를 곱한 값
# sample 변수에 10을 더한 값을 new_sample에 담는다.

for sample in [0, 1, 2, 3, 4, 5]:
        new_sample1 = sample*10
        print(new_sample1)

0
10
20
30
40
50

## for문 range 함수와 함께

In [29]:
# for문은 range라는 함수와 함께 많이 사용
# range 함수는 숫자(정수) 리스트를 자동으로 생성
# 정수 범위를 표현

In [41]:
range(1, 5)

range(1, 5)

In [44]:
# range(1, 10)을 list라는 키워드를 통해 리스트 객체로 변환
# 1부터 4까지 의 경우
list(range(1,5))

[1, 2, 3, 4]

In [45]:
# 만약 1부터 10까지 출력 
range(1, 11)

range(1, 11)

In [46]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
list(range(1,31))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [47]:
# for 변수 in range(시작숫자, 끝숫자)
for num in range(1,11) : 
    print(num)

1
2
3
4
5
6
7
8
9
10

In [49]:
 #range(숫자) : 0부터 입력한 숫자전까지 정수를 반환한다.
for num in range(10) :   
    print(num)

0
1
2
3
4
5
6
7
8
9

In [50]:
#range(숫자1,숫자2,숫자3) : 숫자1부터 숫자2 전까지 숫자3씩 증가하는 정수를 반환한다.
for num in range(1,31,3) :   
    print(num)

1
4
7
10
13
16
19
22
25
28

In [52]:
#range(숫자1,숫자2,숫자3) : 숫자1부터 숫자2 전까지 숫자3씩 증가하는 정수를 반환한다.
for num in range(1,31,2) :   
    print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

# 반복문(while 문)

In [ ]:
# while 문은 조건이 참일 동안 코드 블록을 반복해서 실행하는 반복문입니다. 조건이 거짓이 되면 반복이 종료됩니다.
# while 문은 반복 횟수가 정해지지 않은 상황이나 특정 조건이 충족될 때까지 계속 반복해야 할 때 유용합니다.

In [39]:
# while 문은 반복해야 할 횟수가 특별히 정해지지 않고 어떤 조건을 충족하는 동안만 실행될 때 주로 사용
#for 문을 사용한 경우나 while 문을 사용한 경우의 결과는 동일 함.

In [54]:
# 0부터 10까지의 숫자 중에서 홀수만 화면에 출력하는 프로그램 구현 사례
# 나머지 값 : %
# 사칙연산 참고
num = 0
while num <= 20:
        if num % 3 == 1:
                print(num)
        num += 1

1
4
7
10
13
16
19

# 파이썬 함수(function)

## 함수란?

In [ ]:
# 파이썬의 함수(function)는 특정 작업을 수행하는 코드 블록을 정의하고, 필요할 때마다 호출하여 재사용할 수 있게 하는 프로그래밍 구성 요소입니다. 
# 함수를 사용하면 코드의 가독성을 높이고, 중복된 코드를 줄이며, 유지 보수를 쉽게 할 수 있습니다.

In [37]:
# 프로그램을 개발 과정에서 중복으로 사용되는 코드일 때
# 중복 코드를 재사용하고 싶을 때는 함수(function) 형태로 코드를 작성
# 입력값을 넣으면 원하는 출력값을 얻을 수 있음.--> 입력값을 연산을 통해 새로운 출력값을 얻을 수 있다.
# 입력값  --> 함수 --> 출력 값
# 내장함수, 외장함수

In [56]:
i="안산대학교"
print(i)

안산대학교

In [59]:
for i in range(10):
    print("안산대학교")

안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교

## 함수 만들기

In [45]:
# def : 파이썬에서는 함수 만들 때 사용하는 키워드  # def : definition (정의)
# 함수의 기능과 연관된 적당한 함수명을 지정이 필요
# 함수라는 것은 처음에 한 번만 잘 만들어 두면 다음에는 호출하여 원하는 기능을 실행
# 실행 차례 : 함수 정의(선언)--> 함수 호출

In [ ]:
# 함수는 def 키워드를 사용하여 정의하며, 호출할 때 함수 이름과 괄호를 사용합니다.
# def 함수이름(매개변수1, 매개변수2, ...):
#     # 함수가 수행할 코드
#     return 반환값  # (선택 사항)

In [60]:
# def 다음에  함수이름(인자)
# 두번째 줄에 들여쓰기 후 함수 본문

def print_school():
        print("안산대학교")

In [62]:
def print_school(n):
    for i in range(n):
        print("안산대학교")

In [63]:
print_school(1)

안산대학교

In [65]:
print_school(10)

안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교
안산대학교

# 파이썬 내장 함수
## https://docs.python.org/ko/3/library/functions.html

In [44]:
# 내장함수(Built-in Functions) 기본 제공
    
# abs()	len() dict () min () 등

In [66]:
# abs(x) : 정수형 또는 실수형 값을 입력받은 후 해당 값의 절댓값을 반환하는 함수

abs(-10)

10

In [67]:
abs(10)

10

In [68]:
# len() : 리스트, 튜플, 문자열, 딕셔너리 등을 입력받아 해당 객체의 원소 개수를 반환
len('안산대학교')

5

In [69]:
# list :문자열이나 튜플을 입력받은 후 리스트 객체로 만들고 해당 리스트를 반환
list('안산대학교')

['안', '산', '대', '학', '교']

In [70]:
# max : 입력값 중 최댓값을 반환
# min : 입력값 중 최소값을 반환

In [73]:
max(1,2,3,4,5)

5

In [74]:
min(1,2,3,4,5)

1

In [52]:
# sorted : 입력값을 정렬한 후 정렬된 결괏값을 ‘리스트’로 반환

In [75]:
sorted((4,3,1,5,0))

[0, 1, 3, 4, 5]

In [76]:
sorted(['c', 'b', "d",'a'])

['a', 'b', 'c', 'd']

In [77]:
sorted(['안산', '대학교', "경찰정보학과"])

['경찰정보학과', '대학교', '안산']