# KOSPI200 선물가격 사례

In [7]:
import pandas as pd
import numpy as np

In [16]:
# 기초자산 KOSPI200 가격 엑셀 자료
df = pd.read_excel('09.2 KOSPI200 F 201712.xlsx', 'Sheet1', index_col='일자')
df.head()

              선물가격      지수
일자
2017/09/01  308.40  307.78
2017/09/04  305.60  304.19
2017/09/05  304.85  304.06
2017/09/06  304.30  303.18
2017/09/07  308.10  306.97

In [17]:
type(df.index)

pandas.core.indexes.base.Index

In [18]:
df.index = pd.to_datetime(df.index)

In [19]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
def futures_price (S, r, d, T, t0):
    t = np.busday_count(t0.date(), T.date()) / 252
    F = S * np.exp((r-d)*t)
    return F

In [21]:
T = pd.to_datetime('2017-12-14')     # 최종거래일
r = 0.0225     # 이자율
d = 0.015     # 배당률
for n in (df.index):
    t0 = n     
    S = df.loc[n, '지수']
    F = futures_price (S, r, d, T, t0)
    f = '{:,.2f}'.format(F)
    df.loc[n, '이론가1'] = f

In [22]:
# 선물이론가1 : 단리이자율 개념으로 계산하기 
def S_futures_price (S, r, d, T, t0):
    t = (T - t0).days / 365
    F = S * (1 + (r-d) * t)
    return F

In [23]:
# 선물이론가2 : 연속복리이자율 개념으로 계산하기 

T = pd.to_datetime('2017-12-14')     # 최종거래일
r = 0.0225     # 이자율
d = 0.015     # 배당률
for n in (df.index):
    t0 = n     
    S = df.loc[n, '지수']
    F = S_futures_price (S, r, d, T, t0)
    f = '{:,.2f}'.format(F)
    df.loc[n, '이론가2'] = f

In [24]:
# 이론가 1 : 연속복리이자율 , 이론가2 : 단리이자율
df

              선물가격      지수    이론가1    이론가2
일자
2017-09-01  308.40  307.78  308.46  308.44
2017-09-04  305.60  304.19  304.85  304.82
2017-09-05  304.85  304.06  304.71  304.68
2017-09-06  304.30  303.18  303.82  303.80
2017-09-07  308.10  306.97  307.61  307.59
...            ...     ...     ...     ...
2017-12-08  324.75  324.68  324.72  324.72
2017-12-11  324.85  325.09  325.12  325.11
2017-12-12  323.80  324.07  324.09  324.08
2017-12-13  326.20  326.18  326.19  326.19
2017-12-14  327.65  324.74  324.74  324.74

[69 rows x 4 columns]