LSTM 주가 예측하기

In [1]:
# OHLCV값을 출력하기 위해서 pykrx 모듈을 사용

pip install pykrx

SyntaxError: invalid non-printable character U+00A0 (Temp/ipykernel_12644/76206178.py, line 3)

In [2]:
!pip install pykrx

ERROR: unknown command "install\xa0pykrx" - maybe you meant "install"

In [3]:
pip install pykrx

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "install\xa0pykrx" - maybe you meant "install"

In [4]:
!pip install pykrx

ERROR: unknown command "install\xa0pykrx" - maybe you meant "install"

In [5]:
pip install -U pykrx

Collecting pykrx
  Downloading pykrx-1.0.17-py3-none-any.whl (81 kB)
Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
Requirement already satisfied: requests in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pykrx) (2.26.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Collecting deprecated
  Downloading Deprecated-1.2.12-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: pandas in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pykrx) (1.3.0)
Requirement already satisfied: numpy in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pykrx) (1.21.0)
Requirement already satisfied: pytz in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from datetime->pykrx) (2021.1)
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp39-cp39-win_amd64.whl (210 kB)
Collecting wrapt<2,>=1.10
  Using cached wrapt-1.12.1.tar.gz (27 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas->pykrx) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests->pykrx) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests->pykrx) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests->pykrx) (2.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests->pykrx) (1.26.6)
Requirement already satisfied: setuptools in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from zope.interface->datetime->pykrx) (56.0.0)
Using legacy 'setup.py install' for wrapt, since package 'wheel' is not installed.
Installing collected packages: zope.interface, wrapt, xlrd, deprecated, datetime, pykrx
    Running setup.py install for wrapt: started
    Running setup.py install for wrapt: finished with status 'done'
Successfully installed datetime-4.3 deprecated-1.2.12 pykrx-1.0.17 wrapt-1.12.1 xlrd-2.0.1 zope.interface-5.4.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
from pykrx import stock

SyntaxError: invalid non-printable character U+00A0 (Temp/ipykernel_12644/3724700159.py, line 1)

In [11]:
import pykrx
from pykrx import stock
df = stock.get_market_ohlcv_by_date("20190501", "20190531", "005930")

In [12]:
df.head()

               시가     고가     저가     종가       거래량
날짜
2019-05-02  45500  46150  45400  45900   8625126
2019-05-03  45900  46050  45300  45300   6562916
2019-05-07  45250  45300  44400  44850  12014907
2019-05-08  44300  44850  44200  44250  10398754
2019-05-09  43900  44250  42450  42450  23029718

In [13]:
from pykrx import stock
df = stock.get_market_ohlcv_by_date("20190527", "20190531", "006800")
print(df)

              시가    고가    저가    종가      거래량
날짜
2019-05-27  7460  7490  7370  7460   723476
2019-05-28  7460  7580  7400  7510  2170327
2019-05-29  7490  7510  7340  7400  1552507
2019-05-30  7420  7550  7400  7530  1331640
2019-05-31  7500  7540  7440  7460  1370651

In [ ]:
##미래에셋대우의 2019-05-31 종가 데이터를 출력해 봅시다loc와 iloc 속성값을 사용해서 로우에 접근하고 시리즈 인덱싱을 사용하면 됩니다. 다음 코드는 모두 같은 결과를 출력합니다.

In [14]:
print(df.loc["20190531"]["종가"])             # loc property
print(df.iloc[4][3])                          # iloc property
print(df.loc["20190531", "종가"])             # loc property
print(df.iloc[4, 3])                          # iloc property

7460
7460
7460
7460

## get_market_ohlcv_by_date() 함수는 수정 종가를 반영한 가격정보를 반환합니다. 만약 수정 종가를 반영하지 않은 데이터를 얻기 위해서는 adjusted 옵션을 False로 설정

In [16]:
cond = df["종가"] > df["시가"]
print(df[cond])

              시가    고가    저가    종가      거래량
날짜
2019-05-28  7460  7580  7400  7510  2170327
2019-05-30  7420  7550  7400  7530  1331640

In [17]:
f = stock. get_market_ohlcv_by_date("20180101", "20190531", "005930", adjusted=False)

In [18]:
f

                 시가       고가       저가       종가       거래량           거래대금   등락률
날짜
2018-01-02  2569000  2570000  2539000  2551000    169485   432677351468  0.12
2018-01-03  2627000  2628000  2571000  2581000    200270   518345810160  1.18
2018-01-04  2606000  2609000  2532000  2554000    233909   600531577700 -1.05
2018-01-05  2565000  2606000  2560000  2606000    189623   490792925116  2.04
2018-01-08  2620000  2626000  2575000  2601000    167673   435974098536 -0.19
...             ...      ...      ...      ...       ...            ...   ...
2019-05-27    42500    43000    42350    42650   8066669   344043547350 -0.12
2019-05-28    42550    42950    42150    42550  24506881  1042865612000 -0.23
2019-05-29    41850    42100    41300    41800  14930618   623333158995 -1.76
2019-05-30    42200    42700    42150    42550  11766018   499609785843  1.79
2019-05-31    42600    42800    42150    42500  11365999   483166570320 -0.12

[346 rows x 7 columns]

In [20]:
f.head()

                 시가       고가       저가       종가     거래량          거래대금   등락률
날짜
2018-01-02  2569000  2570000  2539000  2551000  169485  432677351468  0.12
2018-01-03  2627000  2628000  2571000  2581000  200270  518345810160  1.18
2018-01-04  2606000  2609000  2532000  2554000  233909  600531577700 -1.05
2018-01-05  2565000  2606000  2560000  2606000  189623  490792925116  2.04
2018-01-08  2620000  2626000  2575000  2601000  167673  435974098536 -0.19