 ## Black-Scholes-Merton

In [ ]:
# opstrat : 옵션 값은 opstrat 의 black_scholes() 함수를 사용하여 계산
# Opstrat 옵션을 다루는 파이썬 패키지
# 모델에 필요한 모든 입력 은 인수로 전달되어야 함.
# 위의 입력 외에도 옵션의 유형은 유형 매개변수를 사용하여 지정해야 함(콜 경우 'c ' , 풋 경우 'p')

In [2]:
pip install opstrat

Collecting opstrat
  Downloading opstrat-0.1.7-py3-none-any.whl (11 kB)
Requirement already satisfied: seaborn in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (0.11.1)
Requirement already satisfied: pandas in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (1.3.0)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)

Requirement already satisfied: numpy in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (1.19.5)
Requirement already satisfied: matplotlib in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (3.4.2)
Requirement already satisfied: yfinance in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (0.1.63)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (8.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas->opstrat) (2021.1)
Requirement already satisfied: scipy>=1.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from seaborn->opstrat) (1.7.0)
Requirement already satisfied: requests>=2.20 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance->opstrat) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance->opstrat) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance->opstrat) (4.6.3)
Requirement already satisfied: six in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib->opstrat) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (1.26.6)
Installing collected packages: opstrat
Successfully installed opstrat-0.1.7

In [3]:
# 라이브러리 호출
# 필요 값 입력
import opstrat as op
#Declare parameters
K=200    #spot price
St=208   #current stock price
r=4      #4% risk free rate
t=30     #time to expiry, 30 days 
v=20     #volatility 
type='c' #Option type call

#Black Scholes Model
bsm=op.black_scholes(K=K, St=St, r=r, t=t, 
                     v=v, type='c')

In [5]:
# 옵션가격(프리미엄)
# 프리미엄 = 내재가치 + 시간가치
bsm['value']

{'option value': 10.210518559926442,
 'intrinsic value': 8,
 'time value': 2.2105185599264416}

In [6]:
# 옵션 민감도
bsm['greeks']

{'delta': 0.7793593241701937,
 'gamma': 0.024868265088898882,
 'theta': -0.07559961986526405,
 'vega': 0.17686037602292404,
 'rho': 0.12484620893217029}

In [56]:
# 라이브러리 호출
# 필요 값 입력
# 기초자산 가격 208--> 215 상승 한 경우, 잔존기간 20로 단축
import opstrat as op
#Declare parameters
K=200    #spot price
St=215   #current stock price
r=4      #4% risk free rate
t=20     #time to expiry, 30 days 
v=20     #volatility 
type='c' #Option type call

#Black Scholes Model
bsm1=op.black_scholes(K=K, St=St, r=r, t=t, 
                     v=v, type='c')
# 옵션가격(프리미엄)
# 프리미엄 = 내재가치 + 시간가치
bsm1['value']

{'option value': 15.667726511603263,
 'intrinsic value': 15,
 'time value': 0.6677265116032629}

In [57]:
# 옵션 민감도
bsm1['greeks']

{'delta': 0.9468440783423949,
 'gamma': 0.010757414467374148,
 'theta': -0.047839396406487295,
 'vega': 0.05449440917856109,
 'rho': 0.10296095908603377}

In [19]:
# 라이브러리 호출
# 필요 값 입력
# 기초자산 가격 208--> 215 상승 한 경우, 잔존기간 20로 단축
import opstrat as op
#Declare parameters
K=200    #spot price
St=200   #current stock price
r=4      #4% risk free rate
t=20     #time to expiry, 30 days 
v=20     #volatility 
type='c' #Option type call

#Black Scholes Model
bsm1=op.black_scholes(K=K, St=St, r=r, t=t, 
                     v=v, type='c')
# 옵션가격(프리미엄)
# 프리미엄 = 내재가치 + 시간가치
bsm1['value']

{'option value': 3.9540084362511294,
 'intrinsic value': 0,
 'time value': 3.9540084362511294}

In [20]:
# 옵션 민감도
bsm1['greeks']

{'delta': 0.5279925878029271,
 'gamma': 0.042502125151847675,
 'theta': -0.10429446708616853,
 'vega': 0.1863106855971405,
 'rho': 0.055695621437991394}

#  옵션가격  수학적으로 계산하기

In [10]:
import math as m # math 모듈 임포트

In [11]:
S = 208
K = 200
T = 3/365
V = 0.2
Rf = m.log(1.04)
print('연속복리무위험이자율 =', Rf)
print('연속복리를 적용한 1년뒤 종가 =', m.exp(Rf))

연속복리무위험이자율 = 0.03922071315328133
연속복리를 적용한 1년뒤 종가 = 1.04

In [12]:
numerator = m.log(S/K) + (Rf + 1/2 * V**2) * T
denominator = V * m.sqrt(T)
d1 = numerator / denominator
d2 = d1 - V * m.sqrt(T)
print('d1 =', d1, ',', 'd2 =', d2)

d1 = 2.1899182482350326 , d2 = 2.1717863116785674

In [13]:
numerator = m.log(S/K) + (Rf + 1/2 * V**2) * T
denominator = V * m.sqrt(T)
d1 = numerator / denominator
d2 = d1 - V * m.sqrt(T)
print('d1 =', d1, ',', 'd2 =', d2)

d1 = 2.1899182482350326 , d2 = 2.1717863116785674

In [14]:
import scipy as sp # scipy 모듈 임포트
import scipy.stats # scipy에서 통계 모듈 임포트
normdis = sp.stats.norm() # 변수에 표준정규분포를 입력해줌

In [15]:
N_d1 = normdis.cdf(d1) # N(d1) 산출
N_d2 = normdis.cdf(d2) # N(d2) 산출
print('N(d1) =', N_d1, ',', 'N(d2) =', d2)

N(d1) = 0.9857349168521605 , N(d2) = 2.1717863116785674

In [16]:
#콜옵션 계산
#C = S*N(d1) - K*e^(-Rf*T)*N(d1)
C = S * N_d1 - K * m.exp(-Rf * T) * N_d2
print('Call Option Price =', C)

Call Option Price = 8.08354038547185

In [ ]:
# 옵션 가격 계산 : 또 다른 방법

# 이항모형(CRR 모형) 옵션가격

In [ ]:
# https://pythoncpa.tistory.com/2?category=806912  내용 참고

In [ ]:
import math as m

In [17]:
S0 = 100
V = 0.3
T = 5   # 이항분포 전체기간
dt = 1  # 이항분포가 1회발생하는 단위기간, 연간 변동성 기준으로 월 1회 발생하는 경우 1/12= 0.833
Rf = 0.05
K = 100

In [18]:
u = m.exp(V * m.sqrt(dt))
d = 1 / u
P = (m.exp(Rf * dt) - d) / (u - d)
print('u =', u)
print('d =', d)
print('P =', P)

u = 1.3498588075760032
d = 0.7408182206817179
P = 0.5097408651817704

In [19]:
import numpy as np
import pandas as pd
S_tree = pd.DataFrame(np.zeros((T + 1) * (T + 1)).reshape(T + 1, T + 1))
S_tree

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0

In [20]:
for node in range(T + 1):
  for time in range(T + 1):
    if time >= node:
      S_tree.loc[node, time] = S0 * m.pow(u, (time - node)) * m.pow(d, node)
S_tree

       0           1           2           3           4           5
0  100.0  134.985881  182.211880  245.960311  332.011692  448.168907
1    0.0   74.081822  100.000000  134.985881  182.211880  245.960311
2    0.0    0.000000   54.881164   74.081822  100.000000  134.985881
3    0.0    0.000000    0.000000   40.656966   54.881164   74.081822
4    0.0    0.000000    0.000000    0.000000   30.119421   40.656966
5    0.0    0.000000    0.000000    0.000000    0.000000   22.313016

In [21]:
C_K_tree = pd.DataFrame(np.zeros((T + 1) * (T + 1)).reshape(T + 1, T + 1))
for node in range(T + 1):
  for time in range(T + 1):
    if time >= node:
      C_K_tree.loc[node, time] = max(S_tree.loc[node, time] - K, 0)
C_K_tree

     0          1         2           3             4           5
0  0.0  34.985881  82.21188  145.960311  2.320117e+02  348.168907
1  0.0   0.000000   0.00000   34.985881  8.221188e+01  145.960311
2  0.0   0.000000   0.00000    0.000000  2.842171e-14   34.985881
3  0.0   0.000000   0.00000    0.000000  0.000000e+00    0.000000
4  0.0   0.000000   0.00000    0.000000  0.000000e+00    0.000000
5  0.0   0.000000   0.00000    0.000000  0.000000e+00    0.000000

In [22]:
C_tree = pd.DataFrame(np.zeros((T + 1) * (T + 1)).reshape(T + 1, T + 1))
C_tree[T] = C_K_tree[T]
C_tree

     0    1    2    3    4           5
0  0.0  0.0  0.0  0.0  0.0  348.168907
1  0.0  0.0  0.0  0.0  0.0  145.960311
2  0.0  0.0  0.0  0.0  0.0   34.985881
3  0.0  0.0  0.0  0.0  0.0    0.000000
4  0.0  0.0  0.0  0.0  0.0    0.000000
5  0.0  0.0  0.0  0.0  0.0    0.000000

In [23]:
for node in range(T - 1, -1, -1):
  for time in range(T - 1, -1, -1):
    if time >= node:
      C_tree.loc[node, time] = max(
          P * C_tree.loc[node, time + 1] / (1 + Rf) + (1 - P) * C_tree.loc[node + 1, time + 1] / (1 + Rf),
          C_K_tree.loc[node, time]
      )
C_tree

           0          1          2           3           4           5
0  37.042002  61.314001  99.128897  155.853227  237.175520  348.168907
1   0.000000  15.583290  28.249654   50.260325   87.194365  145.960311
2   0.000000   0.000000   4.002886    8.245426   16.984508   34.985881
3   0.000000   0.000000   0.000000    0.000000    0.000000    0.000000
4   0.000000   0.000000   0.000000    0.000000    0.000000    0.000000
5   0.000000   0.000000   0.000000    0.000000    0.000000    0.000000

## 퀀트립 (QuantLib) 활용

In [ ]:
# https://quantlibjl.readthedocs.io/en/latest/pricing_engines.html 참조

# https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=stochastic73&logNo=221746106616  참조

In [38]:
pip install QuantLib-Python

Requirement already satisfied: QuantLib-Python in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (1.18)
Requirement already satisfied: QuantLib in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from QuantLib-Python) (1.25)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)

In [39]:
import QuantLib as ql
# 평가일 지정 날짜 할당
# 여기서 날짜 할당은 보통의 datatime 라이브러리의 data() 객체가 아니라 퀀트립 고유의 날짜 객체임을 주의 할 것!!
valuation_date = ql.Date(1, 6, 2021)

# 평가일 기준일을 위서 설정한 날짜로 할당
ql.Settings.instance().evaluationDate = valuation_date

# 날짜 계산을 위한 영업일 수 계산으로 한국(SouthKorea) 달력 사용
calendar = ql.SouthKorea()
dayCount = ql.ActualActual() # 일자 계산시 방법 :Act/Act, 국가별로 상품별로 시장 관행일을 자동 처리 해줌.

In [40]:
# SimpleQuote : 이론가격을 필요한 기초자료를 담는 역활
# 기초자산 가격, 배당률, 무위험이자율(ex. 기준금리), 변동성 지수 업데이트
underlying_qt = ql.SimpleQuote(270)
dividend_qt = ql.SimpleQuote(0.0)
riskfreerate_qt = ql.SimpleQuote(0.0125)
volatility_qt = ql.SimpleQuote(0.13)

In [41]:
# 업데이트한 SimpleQuote를 다시 QuoteHandle로 설정하는 부분
# QuoteHandle : SimpleQuote 객체들을 QuoteHandle 재설정하는 이유 : 
# 이유 : 이 작업을 토대로 simple 값이 변화하더라도 handle을 통해 바로 값 변형이 반영됨
# 결국 Handle은 어떤 값(value) 을 저장하는 게 아니라 여기서 메모리 address 값을 저장하는 pointer 역할을 수행하게 된다.

q_qhandle = ql.QuoteHandle(underlying_qt)
d_qhandle = ql.QuoteHandle(dividend_qt)
r_qhandle = ql.QuoteHandle(riskfreerate_qt)
v_qhandle = ql.QuoteHandle(volatility_qt)

In [42]:
# 기간구조 설정 과정
# 기초자산 가격을 제외한 나머지 변수는 기간 구조로 변경해야 함.
# FlatForward : 이자율과 배당률에 대하여, BlackConstantVol : 변동성에 대하여  객체 사용
r_timestructure = ql.FlatForward(valuation_date, r_qhandle, dayCount)
d_timestructure = ql.FlatForward(valuation_date, d_qhandle, dayCount)
v_timestructure = ql.BlackConstantVol(valuation_date, calendar, v_qhandle, dayCount)

In [43]:
# handle을 통해 address를 넘겨주 듯, 마찬가지로 기간구조도 handle로 넘겨주는 작업 과정
r_thandle = ql.YieldTermStructureHandle(r_timestructure)
d_thandle = ql.YieldTermStructureHandle(d_timestructure)
v_thandle = ql.BlackVolTermStructureHandle(v_timestructure)

In [44]:
# 가격 산정 확률과정 프로세스 설정 
# 블렉숄츠 모형에서 가정하는 확률과정에 의한 feature 입력

process = ql.BlackScholesMertonProcess(q_qhandle, d_thandle, r_thandle, v_thandle)
engine = ql.AnalyticEuropeanEngine(process)

In [45]:
# 2020년 12월 12일 만기고 call 행사가격은 272인 유럽형 콜옵션 상정
# 다양 한 성격의 옵션 가격을 고려 : EuropeanExercise ,  PlainVanillaPayoff , VanillaOption
option_type = ql.Option.Call
strike_price = 272
expiry_date = ql.Date(1,12,2021)
exercise = ql.EuropeanExercise(expiry_date)
payoff = ql.PlainVanillaPayoff(type= option_type, strike = strike_price)
option = ql.VanillaOption(payoff=payoff, exercise=exercise)

In [46]:
# 옵션 가격 설정을 하기 위한 PricingEngine
# https://quantlibjl.readthedocs.io/en/latest/pricing_engines.html#  내용 참조

option.setPricingEngine(engine)

In [47]:
# 데이터 출력
result_value = [option.NPV(), option.delta(), option.gamma(), option.thetaPerDay(), option.vega()/100, option.rho()/100]
result_type = ['옵션프리미엄', '옵션 델타', '옵션 감마', '옵션 세타', '옵션 베가', '옵션 로']
for i,j in zip(result_type, result_value):
    print(f'{i} = {round(j, 8)}')

옵션프리미엄 = 9.76748896
옵션 델타 = 0.51353501
옵션 감마 = 0.01604256
옵션 세타 = -0.03148873
옵션 베가 = 0.76225959
옵션 로 = 0.64620039

In [48]:
# 기초자산의 가격이 변동하는 경우
# 데이터 출력

underlying_qt.setValue(275)
result_value = [option.NPV(), option.delta(), option.gamma(), option.thetaPerDay(), option.vega()/100, option.rho()/100]
result_type = ['옵션프리미엄', '옵션 델타', '옵션 감마', '옵션 세타', '옵션 베가', '옵션 로']
for i,j in zip(result_type, result_value):
    print(f'{i} = {round(j, 4)}')

옵션프리미엄 = 12.5334
옵션 델타 = 0.5922
옵션 감마 = 0.0153
옵션 세타 = -0.032
옵션 베가 = 0.756
옵션 로 = 0.7537

In [50]:
# 내재변동성implied_volatility
market_price = 8.21
implied_volatility = option.impliedVolatility(market_price, process)
volatility_qt.setValue(implied_volatility)

result_value = [option.NPV(), option.delta(), option.gamma(), option.thetaPerDay(), option.vega()/100, option.rho()/100]
result_type = ['옵션프리미엄', '옵션 델타', '옵션 감마', '옵션 세타', '옵션 베가', '옵션 로']

for i,j in zip(result_type, result_value):
    print(f'{i} = {round(j, 4)}')

옵션프리미엄 = 8.2097
옵션 델타 = 0.6419
옵션 감마 = 0.0266
옵션 세타 = -0.0201
옵션 베가 = 0.7272
옵션 로 = 0.8438

In [ ]:
# plotly  활용 옵션시각화
#  추후 작업 업로드
# https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=stochastic73&logNo=221553746353  참고