 ## Black-Scholes-Merton

In [ ]:
# 옵션 값은 opstrat 의 black_scholes() 함수를 사용하여 계산
# Opstrat 옵션을 다루는 파이썬 패키지
# 모델에 필요한 모든 입력 은 인수로 전달되어야 함.
# 위의 입력 외에도 옵션의 유형은 유형 매개변수를 사용하여 지정해야 함(콜 경우 'c ' , 풋 경우 'p')

In [2]:
pip install opstrat

Collecting opstrat
  Downloading opstrat-0.1.7-py3-none-any.whl (11 kB)
Requirement already satisfied: seaborn in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (0.11.1)
Requirement already satisfied: pandas in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (1.3.0)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)

Requirement already satisfied: numpy in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (1.19.5)
Requirement already satisfied: matplotlib in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (3.4.2)
Requirement already satisfied: yfinance in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from opstrat) (0.1.63)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->opstrat) (8.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas->opstrat) (2021.1)
Requirement already satisfied: scipy>=1.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from seaborn->opstrat) (1.7.0)
Requirement already satisfied: requests>=2.20 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance->opstrat) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance->opstrat) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance->opstrat) (4.6.3)
Requirement already satisfied: six in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib->opstrat) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance->opstrat) (1.26.6)
Installing collected packages: opstrat
Successfully installed opstrat-0.1.7

In [3]:
# 라이브러리 호출
# 필요 값 입력
import opstrat as op
#Declare parameters
K=200    #spot price
St=208   #current stock price
r=4      #4% risk free rate
t=30     #time to expiry, 30 days 
v=20     #volatility 
type='c' #Option type call

#Black Scholes Model
bsm=op.black_scholes(K=K, St=St, r=r, t=t, 
                     v=v, type='c')

In [5]:
# 옵션가격(프리미엄)
# 프리미엄 = 내재가치 + 시간가치
bsm['value']

{'option value': 10.210518559926442,
 'intrinsic value': 8,
 'time value': 2.2105185599264416}

In [6]:
# 옵션 민감도
bsm['greeks']

{'delta': 0.7793593241701937,
 'gamma': 0.024868265088898882,
 'theta': -0.07559961986526405,
 'vega': 0.17686037602292404,
 'rho': 0.12484620893217029}

In [ ]:
#  옵션가격  수학적으로 계산하기

In [9]:
import math as m # math 모듈 임포트

In [10]:
S = 100
K = 100
T = 5
V = 0.3
Rf = m.log(1.05)
print('연속복리무위험이자율 =', Rf)
print('연속복리를 적용한 1년뒤 종가 =', m.exp(Rf))

연속복리무위험이자율 = 0.04879016416943204
연속복리를 적용한 1년뒤 종가 = 1.05

In [11]:
numerator = m.log(S/K) + (Rf + 1/2 * V**2) * T
denominator = V * m.sqrt(T)
d1 = numerator / denominator
d2 = d1 - V * m.sqrt(T)
print('d1 =', d1, ',', 'd2 =', d2)

d1 = 0.6990706090123837 , d2 = 0.028250215762446795

In [12]:
numerator = m.log(S/K) + (Rf + 1/2 * V**2) * T
denominator = V * m.sqrt(T)
d1 = numerator / denominator
d2 = d1 - V * m.sqrt(T)
print('d1 =', d1, ',', 'd2 =', d2)

d1 = 0.6990706090123837 , d2 = 0.028250215762446795

In [14]:
import scipy as sp # scipy 모듈 임포트
import scipy.stats # scipy에서 통계 모듈 임포트
normdis = sp.stats.norm() # 변수에 표준정규분포를 입력해줌

In [15]:
N_d1 = normdis.cdf(d1) # N(d1) 산출
N_d2 = normdis.cdf(d2) # N(d2) 산출
print('N(d1) =', N_d1, ',', 'N(d2) =', d2)

N(d1) = 0.7577460474065406 , N(d2) = 0.028250215762446795

In [16]:
#콜옵션 계산
#C = S*N(d1) - K*e^(-Rf*T)*N(d1)
C = S * N_d1 - K * m.exp(-Rf * T) * N_d2
print('Call Option Price =', C)

Call Option Price = 35.715363768902215

In [ ]:
# 이항모형(CRR 모형) 옵션가격
# https://pythoncpa.tistory.com/2?category=806912  내용 참고

In [ ]:
import math as m

In [17]:
S0 = 100
V = 0.3
T = 5   # 이항분포 전체기간
dt = 1  # 이항분포가 1회발생하는 단위기간, 연간 변동성 기준으로 월 1회 발생하는 경우 1/12= 0.833
Rf = 0.05
K = 100

In [18]:
u = m.exp(V * m.sqrt(dt))
d = 1 / u
P = (m.exp(Rf * dt) - d) / (u - d)
print('u =', u)
print('d =', d)
print('P =', P)

u = 1.3498588075760032
d = 0.7408182206817179
P = 0.5097408651817704

In [19]:
import numpy as np
import pandas as pd
S_tree = pd.DataFrame(np.zeros((T + 1) * (T + 1)).reshape(T + 1, T + 1))
S_tree

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0

In [20]:
for node in range(T + 1):
  for time in range(T + 1):
    if time >= node:
      S_tree.loc[node, time] = S0 * m.pow(u, (time - node)) * m.pow(d, node)
S_tree

       0           1           2           3           4           5
0  100.0  134.985881  182.211880  245.960311  332.011692  448.168907
1    0.0   74.081822  100.000000  134.985881  182.211880  245.960311
2    0.0    0.000000   54.881164   74.081822  100.000000  134.985881
3    0.0    0.000000    0.000000   40.656966   54.881164   74.081822
4    0.0    0.000000    0.000000    0.000000   30.119421   40.656966
5    0.0    0.000000    0.000000    0.000000    0.000000   22.313016

In [21]:
C_K_tree = pd.DataFrame(np.zeros((T + 1) * (T + 1)).reshape(T + 1, T + 1))
for node in range(T + 1):
  for time in range(T + 1):
    if time >= node:
      C_K_tree.loc[node, time] = max(S_tree.loc[node, time] - K, 0)
C_K_tree

     0          1         2           3             4           5
0  0.0  34.985881  82.21188  145.960311  2.320117e+02  348.168907
1  0.0   0.000000   0.00000   34.985881  8.221188e+01  145.960311
2  0.0   0.000000   0.00000    0.000000  2.842171e-14   34.985881
3  0.0   0.000000   0.00000    0.000000  0.000000e+00    0.000000
4  0.0   0.000000   0.00000    0.000000  0.000000e+00    0.000000
5  0.0   0.000000   0.00000    0.000000  0.000000e+00    0.000000

In [22]:
C_tree = pd.DataFrame(np.zeros((T + 1) * (T + 1)).reshape(T + 1, T + 1))
C_tree[T] = C_K_tree[T]
C_tree

     0    1    2    3    4           5
0  0.0  0.0  0.0  0.0  0.0  348.168907
1  0.0  0.0  0.0  0.0  0.0  145.960311
2  0.0  0.0  0.0  0.0  0.0   34.985881
3  0.0  0.0  0.0  0.0  0.0    0.000000
4  0.0  0.0  0.0  0.0  0.0    0.000000
5  0.0  0.0  0.0  0.0  0.0    0.000000

In [23]:
for node in range(T - 1, -1, -1):
  for time in range(T - 1, -1, -1):
    if time >= node:
      C_tree.loc[node, time] = max(
          P * C_tree.loc[node, time + 1] / (1 + Rf) + (1 - P) * C_tree.loc[node + 1, time + 1] / (1 + Rf),
          C_K_tree.loc[node, time]
      )
C_tree

           0          1          2           3           4           5
0  37.042002  61.314001  99.128897  155.853227  237.175520  348.168907
1   0.000000  15.583290  28.249654   50.260325   87.194365  145.960311
2   0.000000   0.000000   4.002886    8.245426   16.984508   34.985881
3   0.000000   0.000000   0.000000    0.000000    0.000000    0.000000
4   0.000000   0.000000   0.000000    0.000000    0.000000    0.000000
5   0.000000   0.000000   0.000000    0.000000    0.000000    0.000000

In [ ]:
# plotly  활용 옵션시각화
#  추후 작업 업로드
# https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=stochastic73&logNo=221553746353  참고

In [ ]:
## 퀀트립 (QuantLib) 활용 
# https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=stochastic73&logNo=221746106616  참고

In [8]:
pip install QuantLib-Python

Collecting QuantLib-PythonNote: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages)

  Downloading QuantLib_Python-1.18-py2.py3-none-any.whl (1.4 kB)
Collecting QuantLib
  Downloading QuantLib-1.25-cp39-cp39-win_amd64.whl (12.5 MB)
Installing collected packages: QuantLib, QuantLib-Python
Successfully installed QuantLib-1.25 QuantLib-Python-1.18