## 야후파이낸스  주가데이터 가져오기

In [3]:
# yfinance --user  설치하기
!pip install yfinance --user

Requirement already satisfied: yfinance in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (0.1.63)
Requirement already satisfied: pandas>=0.24 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.3.0)
Requirement already satisfied: numpy>=1.15 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.21.0)
Requirement already satisfied: requests>=2.20 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (1.26.6)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (2.0.1)

In [4]:
# 애플 주가 가져오기

import yfinance as yf

yf.download('AAPL', start = '2018-12-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-11-30,45.072498,45.082500,44.257500,44.645000,43.468647,158126000
2018-12-03,46.115002,46.235001,45.302502,46.205002,44.987534,163210000
2018-12-04,45.237499,45.597500,44.067501,44.172501,43.008591,165377200
2018-12-06,42.939999,43.695000,42.605000,43.680000,42.529068,172393600
2018-12-07,43.372501,43.622501,42.075001,42.122501,41.012604,169126400
...,...,...,...,...,...,...
2021-07-12,146.210007,146.320007,144.000000,144.500000,144.500000,76299700
2021-07-13,144.029999,147.460007,143.630005,145.639999,145.639999,100698900
2021-07-14,148.100006,149.570007,147.679993,149.149994,149.149994,127050800
2021-07-15,149.240005,150.000000,147.089996,148.479996,148.479996,106820300
2021-07-16,148.460007,149.759995,145.880005,146.389999,146.389999,93100300

In [5]:
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas-datareader) (1.3.0)
Requirement already satisfied: lxml in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.21.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jyb\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.2)
Note: you may need to restart the kernel to use updated packages.

 https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#remote-data-yahoo

In [ ]:
import pandas as pd
import pandas_datareader as pdr
# 1번 방법
# DataReader API를 통해서 yahoo finance의 주식 종목 데이터를 가져온다.
df = pdr.DataReader('AAPL', 'yahoo')
# get_data_yahoo API를 통해서 yahho finance의 주식 종목 데이터를 가져온다.
df = pdr.get_data_yahoo('AAPL')

In [7]:
import pandas_datareader as pdr
pdr.get_data_fred('GS10')

            GS10
DATE
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98
2018-06-01  2.91
2018-07-01  2.89
2018-08-01  2.89
2018-09-01  3.00
2018-10-01  3.15
2018-11-01  3.12
2018-12-01  2.83
2019-01-01  2.71
2019-02-01  2.68
2019-03-01  2.57
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63
2019-09-01  1.70
2019-10-01  1.71
2019-11-01  1.81
2019-12-01  1.86
2020-01-01  1.76
2020-02-01  1.50
2020-03-01  0.87
2020-04-01  0.66
2020-05-01  0.67
2020-06-01  0.73
2020-07-01  0.62
2020-08-01  0.65
2020-09-01  0.68
2020-10-01  0.79
2020-11-01  0.87
2020-12-01  0.93
2021-01-01  1.08
2021-02-01  1.26
2021-03-01  1.61
2021-04-01  1.64
2021-05-01  1.62
2021-06-01  1.52
2021-07-01  1.32
2021-08-01  1.28
2021-09-01  1.37
2021-10-01  1.58
2021-11-01  1.56
2021-12-01  1.47
2022-01-01  1.76
2022-02-01  1.93
2022-03-01  2.13
2022-04-01  2.75
2022-05-01  2.90
2022-06-01  3.14
2022-07-01  2.90
2022-08-01  2.90
2022-09-01  3.52
2022-10-01  3.98
2022-11-01  3.89
2022-12-01  3.62
2023-01-01  3.53

In [11]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2020, 1, 1)

end = datetime.datetime(2022, 1, 27)

gdp = web.DataReader('GDP', 'fred', start, end)

gdp.loc['2020-01-01']

GDP    21538.032
Name: 2020-01-01 00:00:00, dtype: float64

In [12]:
gdp

                  GDP
DATE
2020-01-01  21538.032
2020-04-01  19636.731
2020-07-01  21362.428
2020-10-01  21704.706
2021-01-01  22313.850
2021-04-01  23046.934
2021-07-01  23550.420
2021-10-01  24349.121
2022-01-01  24740.480