## Pandas 의 자료구조

In [ ]:
# pandas 에는 2개의 데이터 타입 
# 1) Series : 1차원 데이터 구조. Series 데이터가 2차원이 되면 Dataframe 자료구조와 같다. value 와 index 포함
# 2) DataFrame  : 엑셀, DBMS 테이블과 비슷한 형태를 가진 2차원 구조. Column 과 Row 단위로 작업

In [ ]:
# Series : 1차원 데이터 구조

In [1]:
import pandas as pd
obj = pd.Series([1,2,3,4])
obj

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
obj.values
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# DataFrame  : 2차원 구조. Column 과 Row 단위

In [7]:
import pandas as pd

frame = pd.DataFrame({'Fruits':['Apple','Melon','Orange','Banana'],
                      'Color':['Red','Green','Orange','Yello']})

print(frame)

   Fruits   Color
0   Apple     Red
1   Melon   Green
2  Orange  Orange
3  Banana   Yello

In [8]:
import pandas as pd

frame = pd.DataFrame({'Fruits':['Apple','Melon','Orange','Banana'],
                      'Color':['Red','Green','Orange','Yello']})

frame

   Fruits   Color
0   Apple     Red
1   Melon   Green
2  Orange  Orange
3  Banana   Yello

In [ ]:
# to_csv : csv 파일로 저장 

# read_csv : csv 파일 읽어오기

In [17]:
import pandas as pd
import sys

names = ['a','b','c','d']
births = [848,33,45,22]
custom = [1,5,44,222]

BabyDataSet = list(zip(names,births))
BabyDataSet


df = pd.DataFrame(data = BabyDataSet,columns=['Names','Births'])

In [18]:
names = ['a','b','c','d']
births = [848,33,45,22]

BabyDataSet = list(zip(names,births))

In [20]:
df.to_csv('births.csv', index=True, header=True)
df.to_csv('births.csv', index=False, header=True)
newdf = pd.read_csv('births.csv')
newdf = pd.read_csv('births.csv', names=['Names','Births'])

In [ ]:
# 파일 삭제

In [21]:
import os
os.remove('births.csv')

In [ ]:
# 데이터 살펴보기

In [24]:
 #Concise summary of a DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Names   4 non-null      object
 1   Births  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [25]:
 #데이터프레임의 인덱스 앞에서부터 n 개의 row 를 가져옴
df.head(3) 
 #데이터프레임의 인덱스 끝에서부터 n개의 row 를 가져옴
df.tail(1)

  Names  Births
3     d      22

In [26]:
#Dataframe 의 statistic 과 data summary 를 보여준다.
df['Names'].describe()

count     4
unique    4
top       a
freq      1
Name: Names, dtype: object

In [27]:
 #중복된 값을 삭제한 array 를 반환한다. (Sort 되지 않은 값). 
df['Names'].unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [28]:
   # 큰 순서대로 sortedarray 에 저장 
Sorted = df.sort_values(['Births'], ascending=False) 

Sorted.head(1)

  Names  Births
0     a     848

In [29]:
  #가장 큰 값 
df['Births'].max()

848